<div class="box-btn-menu">
  <div>
    <a data-toggle="modal" data-target="#register" title="Register now!" class="btn add">
      <i class="fas fa-user-plus fa-lg"></i>
      <span class="text-btn">Register</span>
    </a>
  </div>
  <div>
    <a data-toggle="modal" data-target="#login" title="Login now!" class="btn login">
      <i class="fas fa-sign-in-alt fa-lg"></i>
      <span class="text-btn">Login</span>
    </a>
  </div>
  {% if facebook.logged is defined and facebook.logged == false %}
  <div>
    <a href="{{ facebook.auth_url }}" title="Login with facebook" class="btn facebook">
      <i class="fab fa-facebook-f fa-lg"></i>
      <span class="text-btn">facebook</span>
    </a>
  </div>
  {% endif %}
  {% if google.logged is defined and google.logged == false %}
  <div>
    <a href="{{ google.auth_url }}" title="Login with google" class="btn google">
      <i class="fab fa-google"></i>
      <span class="text-btn">google</span>
    </a>
  </div>
  {% endif %}
</div>
