@charset 'UTF-8';

.title{
  color: #515151;
  font-size: 2em!important;
}

.oauth-color{
  color: #fc2d75;
  text-shadow: 1px 2px 2px #dbdbdb;
  font-weight: 600;
}

a.facebook, a.google, a.register, a.login{
  width: 100%!important;
}

@media screen and (min-width: 600px) {

}