<h5 class="modal-title" id="register-label">{{ label }}</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span class="close" aria-hidden="true">&times;</span>
</button>
