{% extends '@layout/default.html.twig' %}

{% block title %}Login with Oauth2{% endblock %}

{% block content %}
  <div class="wrapper">
    <header>
      <h1 class="flow-text center-align title">Login with <span class="oauth-color">Oauth2.0</span> API's</h1>
      <blockquote>
        This is a simple template for developing applications that require Oauth2.0 authorizations with facebook and google, in addition to providing standard registration and login.
        <!-- Este é um modelo simples para desenvolvimento de aplicações que necesssitam de autorizações Oauth2.0 com facebook e google, além de fornecer cadastro e login padrões. -->
      </blockquote>
    </header>
    {% include '@components/nav/menu.html.twig' with {
      facebook: facebook,
      google: google,
      login_url: 'login.get',
      register_url: 'register.get'
    } only %}
  </div>
{% block javascript %}
  <script src="{{ asset('build/js/effects.js') }}"></script>
{% endblock %}
{% endblock %}
