<button
  type="button" 
  class="btn btn-secondary"
  data-dismiss="modal">
  {{ lblClose }}
</button>
<button
  id="{{ idSubmit }}"
  type="submit"
  form="{{ form }}"
  class="btn btn-primary disabled"
  disabled>
  {{ lblSubmit }}
</button>
